.movie-container {
  padding-top: 20px;
  display: inline-block;
}

.movie-card {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #9fc5e8;
}

.card-image {
  height: 410px;
  width: 270px;
}
