.user-profile{
  padding: 10px;
  background: #9fc5e8;
  width: 100%;
  display: inline-block;
  font-family: "Playfair Display", serif;
}

.update-profile{
  background: #9fc5e8;
  width: 100%;
  display: inline-block;
  font-family: "Playfair Display", serif;
}